@charset "UTF-8";
/* CSS Document */

*{
	box-sizing: border-box;
}
#container{
	width: 800px;
	height: auto;
	margin: 0 auto;
}
header{
	padding: 5px;
	text-align: center;
	background-color: lavender;
	font-size: 30px;
}
.vibes {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
	font-size: 65px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: lavenderblush;
	height: 47px;
}
li {
	float: left;
	border-right: 1px solid lavenderblush;
}
li a {
	display: block;
	color: lavenderblush;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover{
	color: white;
	font-size: 115%;
}
.active {
	background-color: lavenderblush;
	color: rgba(201,200,252,1.00);
}
.link {
  background-color: rgba(201,201,247,1.00);
}
body{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	background-color:lavender;
}
.mich{
	width: 420px;
	height: 580px;
	background-color:rgba(255,243,136,.50);
	border-radius: 25px;
	float: left;
	margin: 10px 0px 10px 0px;
	padding: 20px 30px 30px 30px;
	border: solid 3px rgba(243,136,255,.40);
}

.about{
	width: 370px;
	height: 580px;
	background-color: rgba(255,107,176,.50);
	border-radius: 25px;
	float: right;
	margin: 10px 0px 10px 0px;
	padding: 10px 10px 20px 10px;
	border: solid 3px rgba(254,255,146,1.00);
}
footer{
	padding: 1px;
	border-style: outset;
	text-align: center;
	margin-top: 20px;
	font-size: 10px;
	clear: both;
}
